body {
    background-color: rgb(80, 104, 128);
    color:black;
    font-size: 18px;
    font-style: bold;
}

.logoescola {
    width: 30%;
}

.meio{
    justify-content: space-around;
    Display:flex;
}

.topico{
    margin-right: 10px;
    margin-top: 100px;
    font-size: 24px;
}
.estudantetitulo {
    margin-left: 100px;
}

.estudantes {
    Display: flex; /* display flexivel*/
    flex-wrap: wrap; /* colocar itens na sequencia até não caber mais*/
    justify-content:center;
}

.item {
    margin-top: 30px; /*espaço superior de 10 pixels*/
    margin-bottom: 30px; /*espaço inferiorrior de 10 pixels*/
    width: 300px;
}

.item img{
    width: 200px;
    height: 200px;
}

.escola img{
width: 75%;
margin-right: 100px;
margin-top: 50px; /*espaço superior a 10 pixels*/
margin-bottom: 50px; /*espaço inferior a 10 pixels*/
}
.escola {
    background-image: linear-gradient(black,grey);
display: flex;
align-items: center;
justify-content: center;
}
.sobreescola{
    width: 75%;
    margin-left: 100px;
}
.turma img{
    width: 75%;
    margin-left: 100px;
    margin-top: 50px; /*espaço superir a 10 pixels*/
    margin-bottom: 50px; /*espaço inferior a 10pixels*/
}
.turma{
    background-image: linear-gradient(black,grey);
    display: flex;
    align-items: center;
    justify-content: center;
}
.turmatxt{
    width: 550px;
    margin-right: 10px;
}
